@import "./swiper-pagination";
@import "./button";
@import "./logo";
@import "./mini-cart";
@import "./mini-personal";
@import "./user-icon";
@import "./phone";
@import "./city";
@import "./mini-user";
@import "./personal-menu";
@import "./section";
@import "./personal-bubble";
@import "./personal";
@import "./menu";
@import "./social-menu";
@import "./main-personal-menu";
@import "./blog-post";
@import "./listing";
@import "./pagination";
@import "./text-styled";
@import "./post";
@import "./mini-post";
@import "./last-posts";
@import "./input-group";
@import "./form-group";
@import "./input-radio";
@import "./input-checkbox";
@import "./personal-edit";
@import "./product";
@import "./cart";
@import "./cart-result";
@import "./qty";
@import "./product-cart";
@import "./tabs";
@import "./offer";
@import "./delivery";
@import "./personal-sale";
@import "./personal-orders";

@import "./modal-order";
@import "./modal-success";
@import "./modal-cart";
@import "./modal-repassword";
@import "./modal-login";
@import "./modal-city";
@import "./modal-city-choises";
@import "./modal-offer";
@import "./modal-delivery";

@import "./order-form";

@import "./header";
@import "./footer";

@import "./section-main";
@import "./slide-info";
@import "./home-info";
@import "./advantage";
@import "./section-advantages";
@import "./ingredient";
@import "./ingredients-grid";
@import "./section-ingredients";
@import "./table";

@import "./slider-product-info";
@import "./slider-reviews";

@import "./section-product-info";
@import "./section-ingredients-info";
@import "./recipe";
@import "./section-recipes";
@import "./section-production";
@import "./section-reviews";
@import "./section-posts";

@import "./map-filter";
@import "./map-address";
@import "./map";


@import "./order";

