.cart {
    display: flex;

    &__title {
        font-weight: 700;
        font-size: rem(30px);
        text-align: center;
        color: #101010;
        margin-bottom: rem(55px);
    }
    
    &__left {
        flex: 0 0 calc(100% - 330px);
        max-width: calc(100% - 330px);
        width: 100%;
        position: relative;

        background: radial-gradient(71.31% 287.94% at 48.67% 126.39%, #FFF500 0%, #FF7A00 100%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
        padding-top: rem(30px);

        &-inner {
            flex: 1;
            position: relative;
            z-index: 1;
            overflow: hidden;
            overflow-x: auto;

            .button {
                max-width: rem(310px);
                width: 100%;
                margin: 0 auto;
                display: block;
                margin-top: rem(90px);
            }
        }

        &::before {
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 278px;
            background-image: url("../images/cart-background-table.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            z-index: 1;
        }

        .product-list {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            &__item {
                flex: 0 0 rem(150px);
                max-width: rem(150px);
                width: 100%;
                margin: 0 7px 7px;

                &:nth-child(2n) {
                    .product {
                        position: relative;
                        top: rem(55px);
                    }
                }
            }
        }
    }

    &__right {
        flex: 0 0 rem(330px);
        max-width: rem(330px);
        width: 100%;

        padding: 20px 20px rem(30px);

        display: flex;
        flex-direction: column;
        .cart-result {
            margin-bottom: rem(15px);
        }

        .button {
            width: 100%;
        }
    }

    &__header {
        margin-bottom: rem(15px);
        position: relative;

        .modal__close {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }

    &__footer {
        margin-top: rem(15px);

        min-height: rem(15px);
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
    }

    &__body {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;

        max-height: rem(255px);
    }

    &--empty {
        .cart__body {
            background-image: url('../images/svg/empty-cart.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 155px;
        }
    }
}