.delivery {
    display: flex;
    height: 100%;

    @media ( max-width: 768px ) {
        flex-direction: column;
        position: relative;
    }

    &__title {
        text-align: left;
        font-weight: 700;
        font-size: rem(30px);
        color: #101010;
        margin-bottom: 5px;
        text-transform: none;
        letter-spacing: 0;

        @media ( max-width: 991px ) {
            font-size: rem(20px);
        }
    }

    &__info {
        font-weight: 700;
        font-size: rem(10px);
        letter-spacing: 0.05em;
        color: #A1A1A1;
        margin-bottom: rem(20px);

        @media ( max-width: 991px ) {
            font-size: rem(9px);
        }
    }

    &__left {
        flex: 0 0 rem(355px);
        max-width: rem(355px);
        width: 100%;

        padding: rem(35px) rem(15px) 0 rem(20px);

        @media ( max-width: 991px ) {
            max-width: rem(285px);
            flex: 0 0 rem(285px);
            padding-top: rem(25px);
        }

        @media ( max-width: 768px ) {
            flex: unset;
            max-width: 100%;
        }
    }

    &__right {
        flex: 0 1 auto;
        max-width: 100%;
        width: 100%;
        @media ( max-width: 768px ) {
            flex: unset;
            max-width: 100%;
            height: 265px;
        }
    }

    &__map {
        width: 100%;
        height: 100%;
    }

    &__filter {
        margin-bottom: rem(20px);
        .form-group {
            &__row {
                flex-wrap: wrap;
            }
        }

        .input-radio {
            margin-right: rem(20px);
            margin-bottom: rem(5px);
        }
    }

    &__points {
        max-height: 550px;
        overflow: hidden;
        overflow-y: auto;
        padding-right: rem(8px);
    
        @media ( max-height: 780px ) {
            max-height: 233px;
        }
    }

    &__points-adapt {
        @media ( max-width: 768px ) {
            padding: 0 7.5px;
            position: absolute;
            background-color: #ffffff;
            width: 100%;
            left: 0;
            z-index: 99;
            bottom: 0;
            transform: translateY(calc(100% - 50px));
            transition: transform 0.3s, top 0.3s;

            &.js-active {
                transform: translateY(0);
                top: 0;

                .delivery__points {
                    max-height: 370px;
                }
            }
        }
        &__header {
            display: none;
            @media ( max-width: 768px ) {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding: 17.5px 0;
                display: block;
                font-weight: 700;
                font-size: rem(10px);
                text-align: center;
                letter-spacing: 0.05em;
                color: #101010;
                text-transform: uppercase;
                position: relative;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 23px;
                height: 3px;
                background: #C4C4C4;
                border-radius: 10px;
                top: 7px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.delivery-point {
    cursor: pointer;
    border-radius: 10px;
    background-color: #ffffff;
    padding: rem(9px) rem(18px) rem(12px);
    transition: background-color 0.3s;

    color: #A1A1A1;

    .input-radio__label {
        @media ( max-width: 991px ) {
            font-size: rem(10px);
        }
    }

    &__title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: rem(12px);
        margin-bottom: rem(2px);

        @media ( max-width: 991px ) {
            font-size: rem(10px);
        }
    }

    &__city {
        color: #101010;
    }

    &__info {
        font-weight: 600;
        font-size: rem(10px);
        letter-spacing: 0.05em;
        text-transform: uppercase;

        @media ( max-width: 991px ) {
            font-size: rem(8px);
        }
    }

    &:hover {
        background-color: #FAFAFA;
    }

    &.active {
        background-color: #FFC700;

        color: #101010 !important;
    }
}