.delivery {
    display: flex;
    height: 100%;

    &__title {
        text-align: left;
        font-weight: 700;
        font-size: rem(30px);
        color: #101010;
        margin-bottom: 5px;
        text-transform: none;
        letter-spacing: 0;
    }

    &__info {
        font-weight: 700;
        font-size: rem(10px);
        letter-spacing: 0.05em;
        color: #A1A1A1;
        margin-bottom: rem(20px);
    }

    &__left {
        flex: 0 0 rem(355px);
        max-width: rem(355px);
        width: 100%;

        padding: rem(35px) rem(15px) 0 rem(20px);
    }

    &__right {
        flex: 0 1 auto;
        max-width: 100%;
        width: 100%;
    }

    &__map {
        width: 100%;
        height: 100%;
    }

    &__filter {
        margin-bottom: rem(20px);
        .form-group {
            &__row {
                flex-wrap: wrap;
            }
        }

        .input-radio {
            margin-right: rem(20px);
            margin-bottom: rem(5px);
        }
    }

    &__points {
        max-height: 550px;
        overflow: hidden;
        overflow-y: auto;
        padding-right: rem(8px);
    }
}

.delivery-point {
    cursor: pointer;
    border-radius: 10px;
    background-color: #ffffff;
    padding: rem(9px) rem(18px) rem(12px);
    transition: background-color 0.3s;

    color: #A1A1A1;

    &__title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: rem(12px);
        margin-bottom: rem(2px);
    }

    &__city {
        color: #101010;
    }

    &__info {
        font-weight: 600;
        font-size: rem(10px);
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    &:hover {
        background-color: #FAFAFA;
    }

    &.active {
        background-color: #FFC700;

        color: #101010 !important;
    }
}