.header {
    background-color: #ffffff;

    &--transparent {
        background-color: transparent;
        position: relative;
        z-index: 1;

        .container {
            max-width: 100%;
            padding-left: 2.19%;
            padding-right: 4.2%;

            @media ( max-width: 991px ) {
                padding: 0 rem(15px);
            }
        }
    }

    &__wrapper {
        position: relative;
        padding: rem(35px) 0 rem(31px);

        min-height: rem(101px);
        padding-left: rem(148px);

        @media ( max-width: 991px ) {
            padding: rem(31px) 0 rem(27px);
            padding-left: rem(120px);

            min-height: rem(90px);
        }
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 0;

        max-width: rem(148px);
        width: 100%;

        @media ( max-width: 991px ) {
            max-width: rem(110px);
        }
    }

    &__shopping {
        text-align: right;
        margin: 0 rem(-15px);
        margin-left: auto;

        display: flex;
        align-items: center;

        @media ( max-width: 576px ) {
            margin: 0 rem(-7.5px);
        }
    }

    &__cart, &__personal, &__phone, &__city {
        display: inline-block;
        vertical-align: middle;

        margin: 0 rem(15px);

        @media ( max-width: 576px ) {
            margin: 0 rem(7.5px);
        }
    }

    &__phone {
        @media ( max-width: 576px ) {
            order: 2;
        }
    }

    &__personal {
        @media ( max-width: 576px ) {
            order: 3
        }
    }

    &__city {
        padding: 0 15px;
        margin-left: 0;
        margin-right: auto;

        text-align: left;

        @media ( max-width: 580px ) {
            padding: 0;
        }

        @media ( max-width: 576px ) {
            order: 1;
            margin-right: auto;
        }
    }

    &__cart {
        margin-left: auto;

        @media ( max-width: 576px ) {
            margin-left: auto;
        }
    }
}