.ingredient {
    &__name {
        font-weight: 700;
        font-size: rem(14px);
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;

        @media ( max-width: 576px ) {
            font-size: rem(10px);
        }
    }

    &__image {
        width: rem(129px);
        height: rem(129px);
        margin: 0 auto;

        position: relative;

        @media ( max-width: 991px ) {
            width: rem(110px);
            height: rem(110px);
        }

        @media ( max-width: 576px ) {
            width: rem(70px);
            height: rem(70px);

            position: static;

            margin-bottom: rem(18px);
        }

        img {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            top: 0;
            object-fit: contain;
        }

        .ingredient-modal {
            position: absolute;
            width: 395px;
            right: 0;
            top: 50%;
            transform: translate(100%, -50%);

            @media ( max-width: 768px ) {
                width: 290px;
            }

            @media ( max-width: 576px ) {
                right: auto;
                left: 50%;
                transform: translate(-10.8%, -50%);

                z-index: 1;
            }
        }
    }

    &__button {
        outline: none !important;
        width: rem(50px);
        height: rem(50px);
        font-size: 0;

        background: url('../images/svg/ingridient-plus.svg'), linear-gradient(0deg, #FFC700 44.17%, #FFFFFF 215.83%);
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 100%;

        z-index: 1;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translate(40%, -50%);
        transition: all 0.3s;

        @media ( max-width: 991px ) {
            width: rem(40px);
            height: rem(40px);
            background-size: auto;
            padding: 0;
        }

        @media ( max-width: 576px ) {
            width: rem(30px);
            height: rem(30px);
            background-size: auto;
            padding: 0;
        }

        &.active {
            transform: translate(40%, -50%) rotate(45deg);
        }
    }
}