.ingredient {
    &__name {
        font-weight: 700;
        font-size: rem(14px);
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;        
    }

    &__image {
        width: rem(129px);
        height: rem(129px);
        margin: 0 auto;

        position: relative;

        img {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            top: 0;
            object-fit: contain;
        }
    }

    &__button {
        width: rem(50px);
        height: rem(50px);
        font-size: 0;

        background: url('../images/svg/ingridient-plus.svg'), linear-gradient(0deg, #FFC700 44.17%, #FFFFFF 215.83%);
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 100%;

        z-index: 1;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translate(40%, -50%);
    }
}