.input-group {
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    input[type="number"],
    input[type="search"],
    input[type="url"] {
        width: 100%;
        background-color: #FAFAFA;
        border: 1px solid #E5E5E5;
        box-sizing: border-box;
        border-radius: 10px;
        padding: rem(14px) rem(22px);
        font-weight: 700;
        font-size: rem(10px);
        letter-spacing: 0.05em;
        color: #101010;
        text-transform: uppercase;
        transition: border-color 0.3s;

        &::-moz-placeholder { color: #A1A1A1; }
        &::-webkit-input-placeholder { color: #A1A1A1; }
        &:-ms-input-placeholder { color: #A1A1A1; }
        &::-ms-input-placeholder { color: #A1A1A1; }
        &::placeholder { color: #A1A1A1; } 


        &:focus {
            border-color: #FFC700;
            &::-moz-placeholder { color: #101010; }
            &::-webkit-input-placeholder { color: #101010; }
            &:-ms-input-placeholder { color: #101010; }
            &::-ms-input-placeholder { color: #101010; }
            &::placeholder { color: #101010; } 
        }
    }

    &__label {
        padding: 0 rem(22px);

        font-weight: 700;
        font-size: rem(8px);
        letter-spacing: 0.05em;
        color: #A1A1A1;
        text-transform: uppercase;

        margin-bottom: rem(5px);
    }

    &--edit {
        position: relative;
        .input-group {
            &__edit {
                opacity: 1;
            }
        }

        & + .button { opacity: 0; visibility: hidden; transition: all 0.3s; }
        &.active + .button { opacity: 1; visibility: visible; transition: all 0.3s; }
    }

    &__edit {
        background-image: url('../images/svg/pencil.svg');

        background-position: center center;
        background-size: 13px;
        background-repeat: no-repeat;

        cursor: pointer;

        width: rem(13px);
        height: rem(13px);
        opacity: 0;

        position: absolute;
        right: rem(5px);
        top: 42%;

        box-sizing: content-box;
        padding: 10px;
    }
}