.input-checkbox {
    &__label {
        font-weight: 700;
        font-size: rem(10px);
        letter-spacing: 0.05em;
        color: #A1A1A1;
        position: relative;
        transition: color 0.3s;
        text-transform: uppercase;

        &::before {
            content: "";
            display: inline-block;
            
            width: rem(16px);
            height: rem(16px);
            background-color: #FAFAFA;
            border: rem(1px) solid #E5E5E5;
            border-radius: rem(3px);
            
            vertical-align: middle;
            margin-right: rem(10px);
        }

        &::after {
            content: "";
            display: block;
            width: rem(10px);
            height: rem(10px);
            background-image: url('../images/svg/checked.svg');

            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;

            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(35%, -35%);
            opacity: 0;

            transition: opacity 0.3s;
        }
    }

    input[type="checkbox"] {
        display: none;

        &:checked + .input-checkbox__label {
            color: #101010;
            &::after {
                opacity: 1;
            }
        }
    }
}