.logo {
    background: #FFFFFF;
    box-shadow: 0px rem(4px) rem(10px) rgba(0, 0, 0, 0.05);
    border-bottom-left-radius: rem(10px);
    border-bottom-right-radius: rem(10px);
    width: 100%;

    padding: 0 rem(8.5px) rem(8.1px);

    &__image {
        max-width: rem(102px);

        margin: 0 auto;
    }

    &__inner {
        border: rem(1px) solid #F0F0F0;
        border-top: 0;
        border-bottom-left-radius: rem(5px);
        border-bottom-right-radius: rem(5px);

        padding: rem(14px) 0 rem(10px);
    }
}