.main-personal-menu {
    ul {
        text-align: center;

        a {
            display: block;
            padding: rem(17px) 0 rem(18px);
            border-radius: 10px;
            background-color: transparent;
            transition: background-color 0.3s, color 0.3s;

            font-weight: 700;

            font-size: rem(12px);
            color: #A2A2A2;
            letter-spacing: 0.05em;
            text-transform: uppercase;

            &:hover {
                background-color: #FFC700;
                color: #313131;
            }
        }

        li {
            margin-bottom: rem(10px);
            &:last-of-type {
                margin-bottom: 0;
            }

            &.active {
                a {
                    background-color: #FFC700;
                    color: #313131;
                }
            }
        }
    }
}