.map-address {
    background: #FFFFFF;
    box-shadow: 0px rem(4px) rem(10px) rgba(0, 0, 0, 0.04);
    border-radius: rem(10px);

    padding: rem(20px) rem(20px) rem(25px) rem(20px);

    &__inner {
        display: flex;
    }

    &__image {
        flex: 0 0 rem(45px);
        max-width: rem(45px);
        width: 100%;
        margin-right: rem(15px);
    }

    &__content {
        flex: 0 1 auto;
        max-width: 100%;
        width: 100%;
    }

    &__city {
        font-weight: 700;
        font-size: rem(23px);
        color: #313131;

        margin-bottom: rem(15px);
    }

    &__text {
        font-weight: normal;
        font-size: rem(14px);
        color: #313131;
        margin-bottom: rem(15px);
    }

    &__show {
        font-weight: 700;
        font-size: rem(10px);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #717171;

        cursor: pointer;
    }
}