.menu {
    text-align: center;
    ul {
        margin: 0 rem(-45px);

        @media ( max-width: 991px ) {
            margin: 0 rem(-25px);
        }
        
        li {
            margin: 0 rem(45px);
            display: inline-block;
            vertical-align: middle;

            @media ( max-width: 991px ) {
                margin: 0 rem(25px);
            }

            @media ( max-width: 576px ) {
                display: block;
            }
        }

        a {
            font-weight: 700;
            font-size: rem(12px);
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #999999;

            transition: color 0.3s;

            @media ( max-width: 991px ) {
                font-size: rem(10px);
            }

            &:hover {
                color:#FFC700;
            }
        }
    }
}