.mini-post {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__image {
        flex: 0 0 rem(82px);
        max-width: rem(82px);
        width: 100%;
        height: rem(82px);

        background: #C4C4C4;
        border-radius: rem(10px);
        position: relative;
        overflow: hidden;
        margin-right: rem(15px);

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }

    &__right {
        flex: 0 1 auto;
        max-width: 100%;
        width: 100%;
    }

    &__title {
        font-weight: bold;
        font-size: rem(16px);
        color: #313131;
        margin-bottom: rem(5px);
    }

    &__more {
        display: inline-block;
        font-weight: 700;
        font-size: rem(10px);
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #717171;
        line-height: rem(20px);
        transition: color 0.3s;
        vertical-align: middle;

        &::after {
            content: "";
            display: inline-block;
            width: rem(18px);
            height: rem(18px);
            vertical-align: middle;
            background-color: #FFC700;
            margin-left: rem(7px);

            border-radius: 50%;
            transition: background 0.3s;

            background-image: url('../images/svg/angle-more.svg');
            background-position: center center;
            background-size: rem(5.8px);
            background-repeat: no-repeat;
        }
    }

    &__date {
        display: inline-block;
        vertical-align: middle;
        font-weight: 400;
        font-size: rem(12px);
        color: #717171;
        line-height: rem(20px);
        margin-left: rem(7px);
    }
}