.mini-personal {
    position: relative;

    max-width: rem(30px);
    max-height: rem(30px);

    &__tooltip {
        position: absolute;
        width: rem(220px);
        right: 0;
        transform: translate(20%, 30%);
        padding-top: rem(15px);

        visibility: hidden;
        opacity: 0;

        transition: 0.3s opacity, 0.2s transform, visibility 0.4s;
    }

    &__inner {
        width: 100%;
        border-radius: 10px;
        background-color: #ffffff;
        padding: 20px;

        position: relative;

        &::before,
        &::after {
            display: block;
            content: "";
            position: absolute;
            z-index: -99;
            width: 50%;
            top: 0;
            bottom: 0;
            box-shadow: 0px 4px 20px #d6d6d6;
            transition: transform 200ms ease-out;
            border-radius: rem(10px);
            background-color: #ffffff;
        }

        &::before {
            left: 0;
            border-bottom-right-radius: rem(10px);
        }

        &::after {
            right: 0;
            border-bottom-left-radius: rem(10px);
        }
    }

    &__tip {
        position: absolute;
        z-index: -1;
        display: block;
        width: rem(16px);
        height: rem(16px);
        background: #fff;
        right: rem(38px);

        top: 0;

        transform: translate(-50%, 50%) rotate(45deg);
        box-shadow: rem(-3px) rem(-3px) rem(6px) #d6d6d6;
        transition: transform 200ms ease-out;
    }

    &:hover {
        .mini-personal {
            &__tooltip {
                opacity: 1;
                transform: translate(20%, 0%);
                visibility: visible;
            }
        }
    }

    &__user {
        margin-bottom: rem(10px);
    }
}
