.modal-delivery {
    max-width: rem(1280px);
    width: 100%;
    max-height: 768px;
    height: 100%;

    padding: 0;

    .modal {
        &__close {
            position: absolute;
            right: rem(20px);
            top: rem(17px);

            z-index: 99;
        }

        &__inner {
            height: 100%;
        }
    }
}