.modal-delivery {
    // max-width: rem(1280px);
    width: 100%;
    max-height: 768px;
    height: 100%;

    @include adaptive-value('max-width', 1280, 720, 0);

    @media ( max-width: 1170px ) {
        @include adaptive-value('max-width', 1280, 720, 0);
    }

    @media ( max-width: 1200px ) {
        @include adaptive-value('max-width', 991, 768, 0);
    }

    @media ( max-width: 991px ) {
        @include adaptive-value('max-width', 850, 720, 0);
    }

    @media ( max-width: 768px ) {
        @include adaptive-value('max-width', 1000, 300, 0);
    }

    @media ( max-height: 780px ) {
        max-height: 420px;
    }

    padding: 0;

    .modal {
        &__close {
            position: absolute;
            right: rem(20px);
            top: rem(17px);

            z-index: 99;
        }

        &__inner {
            height: 100%;
        }
    }
}