.order {
    &__status {
        transition: color 0.3s;

        @media ( max-width: 576px ) {
            order: 3;
            flex: 0 0 100%;
            width: 100%;
        }

        &--processed {
            color: #FFC700;
        }
        &--success {
            color: #101010;
        }
    }

    &__date {
        @media ( max-width: 576px ) {
            order: 2;

            flex: 0 0 50%;
            width: 50%;

            text-align: right;
        }
    }

    &__header {
        background: rgba(#FAFAFA, 0.5);
        border-radius: 10px;

        padding: rem(20px) rem(55px) rem(20px) rem(22px);

        display: flex;
        justify-content: space-between;

        font-weight: 700;
        font-size: rem(12px);
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #A1A1A1;

        position: relative;

        cursor: pointer;
        transition: color 0.3s, background-color 0.2s;

        @media ( max-width: 991px ) {
            font-size: rem(9px);

            padding: rem(15px) rem(40px) rem(15px) rem(5px);
        }

        @media ( max-width: 576px ) {
            height: rem(105px);

            flex-wrap: wrap;
            justify-content: flex-start;
            text-align: left;
        }

        &.active,
        &:hover {
            background-color: #FFC700;

            color: #FFFFFF;

            .order__status {
                color: #FFFFFF;
            }

            svg {
                fill: #FFFFFF;
            }
        }

        &.active {
            .order {
                &__arrow {
                    transform: translateY(-50%) rotate(-180deg);

                    @media ( max-width: 576px ) {
                        transform: translateY(0%) rotate(-180deg);
                    }
                }
            }
        }
    }

    &__cost {
        @media ( max-width: 576px ) {
            order: 4;
            lex: 0 0 50%;
            width: 50%;
        }
    }

    &__payment {
        @media ( max-width: 576px ) {
            order: 5;
            flex: 0 0 50%;
            width: 50%;
            text-align: right;
        }
    }

    &__name {
        color: #101010;
        @media ( max-width: 576px ) {
            order: 1;
            flex: 0 0 50%;
            width: 50%;
        }
    }

    &__arrow {
        position: absolute;
        width: rem(55px);
        height: rem(55px);

        right: 0;
        top: 50%;
        transform: translateY(-50%);

        display: flex;
        align-items: center;
        justify-content: center;

        transition: transform 0.3s;

        @media ( max-width: 991px ) {
            width: rem(40px);
            height: rem(40px);
        }

        @media ( max-width: 576px ) {
            transform: translate(0);
            top: rem(2.5px);
        }

        svg {
            width: rem(12px);
            height: rem(8px);

            fill: #A3A3A3;
            transition: fill 0.3s;
        }
    }

    &__body {
        display: none;
        &.active {
            display: block;
        }
    }

    &__item {
        border-bottom: rem(1px) solid #E1E1E1;
    }

    &__products {
        margin-bottom: rem(22px);
    }

}

.order-product {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: rem(12px);
    
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #101010;
    box-sizing: content-box;

    padding: rem(30px) rem(35px) rem(30px) rem(110px);

    @media ( max-width: 991px ) {
        font-size: rem(9px);
        padding: 0;
        padding-right: rem(28px);
    }

    position: relative;
    &__image {
        max-width: rem(110px);
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;

        @media ( max-width: 991px ) {
            max-width: rem(65px);
            height: rem(62px);
            position: relative;

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                object-fit: cover;
            }
        }
    }

    &__name {
        margin-right: auto;
    }


    &__price {
        flex: 0 0 rem(110px);
        max-width: 110px;
        width: 100%;
        margin-left: rem(75px);
        text-align: right;

        @media ( max-width: 576px ) {
            margin-left: auto;

            flex: 0 0 rem(50px);
            max-width: rem(50px);
        } 
    }
}

.order-result {
    padding-right: rem(35px);
    text-align: right;

    @media ( max-width: 991px ) {
        padding-right: rem(28px);
    }


    &__item {
        display: flex;
        justify-content: flex-end;

        font-weight: 700;
        font-size: rem(12px);
        letter-spacing: 0.05em;
        color: #A1A1A1;
        margin-bottom: rem(5px);

        @media ( max-width: 991px ) {
            font-size: rem(8px);
        }


        &:last-of-type {
            margin-bottom: 0;
        }

        &--total {
            font-size: rem(18px);
            color: #101010;

            @media ( max-width: 991px ) {
                font-size: rem(12px);
            } 
        }
    }

    &__cost {
        flex: 0 0 rem(110px);
        max-width: rem(110px);
        width: 100%;
        color: #101010;
    }

    &__label {
        flex: 0 0 rem(160px);
        max-width: rem(160px);
        width: 100%;
        text-align: left;

        @media ( max-width: 991px ) {
            flex: 0 0 rem(100px);
            max-width: rem(100px);
        }
    }
}

.table-orders {
    &__item {
        margin-bottom: rem(10px);
    }
}