.personal-menu {
    ul {
        font-size: rem(10px);
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-weight: 700;
        li {
            padding: 2.5px 0;
            margin-bottom: 5px;

            &:last-of-type {
                margin-bottom: 0;
            }

            a {
                color: #a1a1a1;
                transition: color 0.3s;
                &:hover {
                    color: #FFC700;
                }
            }

            &.personal-logout,
            .personal-logout {
                margin-top: rem(5px);
                color: #dc4e41;
            }
        }
    }
}
