.personal {
    display: flex;
    align-items: flex-start;
    &__icon {
        margin-bottom: rem(20px);
        .user-icon {
            max-width: rem(85px);
            width: 100%;
            height: rem(85px);
            margin: 0 auto;

            &--char {
                font-size: rem(38px);
                line-height: rem(80px);
            }
        }
    }

    &__sidebar {
        max-width: rem(270px);
        flex: 0 0 rem(270px);
        text-align: center;
        margin-right: rem(30px);

        .personal-bubble {
            padding: rem(30px) rem(20px) rem(25px);
        }
    }

    &__welcome {
        font-size: rem(13px);
        font-weight: 600;
        color: #868686;
        line-height: rem(26px);
    }

    &__name {
        font-weight: 700;
        font-size: rem(18px);
        color: #000000;
        line-height: rem(26px);
    }

    &__mail, &__phone {
        font-weight: 600;
        font-size: rem(15px);
        color: #C4C4C4;
        line-height: rem(26px);
    }

    &__content {
        flex: 0 1 auto;
        max-width: 100%;
        width: 100%;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 rem(-15px) rem(-20px);
    }

    &__branch {
        flex: 0 0 calc(50% - 30px);
        max-width: calc(50% - 30px);
        width: 100%;
        margin: 0 rem(15px) rem(20px);
    }

    &__menu {
        margin-top: rem(15px);
    }
}
