.personal-bubble {
    padding: rem(43px) rem(39px) rem(39px);

    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 20px;

    transition: background 0.3s;

    &__title {
        font-weight: 700;

        font-size: rem(25px);
        color: #101010;

        margin-bottom: rem(13px);
        transition: color 0.3s;
    }


    &__more {
        display: inline-block;
        vertical-align: middle;
        font-weight: 700;
        font-size: rem(10px);
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #717171;

        line-height: rem(20px);
        transition: color 0.3s;

        &::after {
            content: "";
            display: inline-block;
            width: rem(18px);
            height: rem(18px);
            vertical-align: middle;
            background-color: #FFC700;
            margin-left: rem(7px);

            border-radius: 50%;
            transition: background 0.3s;

            background-image: url('../images/svg/angle-more.svg');
            background-position: center center;
            background-size: rem(5.8px);
            background-repeat: no-repeat;
        }
    }

    &--has-icon {
        background-repeat: no-repeat;
        background-size: contain;

        background-position-x: right;
    }

    &:not(.personal-bubble--not-hover) {
        &:hover {
            background-color: #FFC700;
            background-image: none !important;
    
            .personal-bubble {
                &__more,
                &__title {
                    color: #ffffff;
                }
    
                &__more {
                    &::after {
                        background-color: #ffffff;
                        background-image: url('../images/svg/angle-more-hover.svg');
                    }
                }
            }
        }
    }


}