.personal-orders {
    @media ( max-width: 991px ) {
        padding: rem(15px) rem(15px) rem(15px);
    }

    .personal-bubble__title {
        margin-top: rem(15px);
        margin-bottom: rem(20px);
    }
}