.post {
    &__title {
        font-weight: 700;
        font-size: rem(35px);
        text-align: center;

        color: #313131;

        margin-bottom: rem(7px);

        @media ( max-width: 991px ) {
            font-size: rem(25px);
        }

        @media ( max-width: 576px ) {
            font-size: rem(20px);
        }
    }

    &__date {
        font-size: rem(16px);
        text-align: center;
        color: #717171;
        margin-bottom: rem(20px);

        @media ( max-width: 991px ) {
            font-size: rem(14px);
        }

        @media ( max-width: 576px ) {
            font-size: rem(12px);
        }
    }

    &__preview {
        border-radius: rem(10px);
        overflow: hidden;
        margin-bottom: rem(25px);
    }

    &__inner {
        display: flex;
        align-items: flex-start;

        @media ( max-width: 768px ) {
            flex-direction: column;
        }
    }

    &__content {
        flex: 0 1 auto;
        max-width: 100%;
        width: 100%;

        @media ( max-width: 768px ) {
            flex: unset;
        }
    }

    &__sidebar {
        flex: 0 0 rem(370px);
        max-width: rem(370px);
        width: 100%;
        margin-left: rem(30px);


        @media ( max-width: 991px ) {
            flex: 0 0 rem(280px);
            max-width: rem(280px);
        }

        @media ( max-width: 768px ) {
            flex: unset;
            margin-left: 0;
            max-width: 100%;
        }
    }
}