.product {
    display: flex;
    flex-direction: column;
    position: relative;

    &--radio {
        cursor: pointer;
    }

    &__image {
        width: rem(213px);
        height: rem(135px);
        margin-bottom: rem(30px);

        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;

        transform: translateX(-36%);

        @media ( max-width: 880px ) {
            width: rem(185px);
            height: rem(125px);
        }

        @media ( max-width: 768px ) {
            width: rem(120px);
            height: rem(80px);

            margin-bottom: rem(7px);
        }
    }


    text-align: center;
}