.product {
    display: flex;
    flex-direction: column;
    position: relative;

    &--radio {
        cursor: pointer;
    }

    &__image {
        width: rem(213px);
        height: rem(135px);
        margin-bottom: rem(30px);

        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;

        transform: translateX(-36%);
    }


    text-align: center;
}