.product-cart {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    transition: background-color 0.3s;
    padding: rem(15px);

    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;

    &__title {
        font-weight: 700;
        font-size: rem(10px);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #313131;

        margin-bottom: rem(5px);
    }

    &__price {
        font-weight: 700;
        font-size: rem(12px);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFC700;
    }

    &__left {
        margin-left: auto;
        flex: 0 0 rem(99px);
        max-width: rem(99px);
        width: 100%;


        @media ( max-width: 768px ) {
            flex: 0 0 rem(91px);
            max-width: rem(91px);
        }
    }

    &__right {
        flex: 0 0 rem(88px);
        max-width: rem(88px);
        width: 100%;
        margin-left: rem(5px);
    }

    &:hover {
        background-color: #FAFAFA;
    }
}