.recipe {
    &__inner {
        display: flex;

        @media ( max-width: 991px ) {
            display: block;
        }
    }

    &__slider {
        flex: 0 0 rem(260px);
        max-width: rem(260px);
        width: 100%;

        margin-right: rem(30px);

        @media ( max-width: 991px ) {
            float: left;
            flex: unset;
        }

        @media ( max-width: 768px ) {
            float: unset;
            max-width: 100%;

            margin-bottom: rem(15px);
        }

        .slider-recipe {
            border-radius: rem(5px);
        }
    }

    &__content {
        flex: 0 1 auto;
        max-width: 100%;
        width: 100%;
    }


    &__title {
        font-weight: 700;
        font-size: rem(18px);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        
        color: #101010;

        margin-bottom: rem(15px);

        @media ( max-width: 991px ) {
            font-size: rem(16px);
        }
    }

    &__text {
        font-weight: normal;
        font-size: rem(12px);

        color: #000000;


        .beautiful-list {
            @media ( max-width: 991px ) {
                margin-bottom: rem(37px);

                &:last-of-type {
                    margin-bottom: rem(20px);
                }
            }

            @media ( max-width: 768px ) {
                margin-bottom: rem(20px);
            }

            &__title {
                font-weight: bold;
                font-size: rem(12px);
                letter-spacing: 0.05em;
                text-transform: uppercase;                
                color: #101010;

                margin-bottom: rem(10px);

            }
            li {
                margin-bottom: rem(15px);
                &:before {
                    top: 50% !important;
                }
            }
            &--column-2 {
                columns: 2;
                font-size: rem(10px);
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #717171;
            }
        }
    }
}