.section-main {
    @include adaptive-value('height', 779, 576, 1);

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @media ( max-width: 768px ) {
        height: rem(576px);
    }

    .container, &__wrapper{
        height: 100%;
    }

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        max-width: rem(890px);
        width: 100%;
        font-size: rem(65px);
        line-height: rem(80px);
        text-align: center;
        color: #FFFFFF;
        margin-bottom: rem(20px);

        @media ( max-width: 991px ) {
            line-height: rem(45px);
            margin-bottom: rem(10px);
        }

        @media ( max-width: 576px ) {
            line-height: rem(40px);
            font-size: rem(30px);
        }
    }

    &__sub-title {
        font-weight: 400;
        font-size: rem(28px);
        text-align: center;
        color: #FFFFFF;

        margin-bottom: rem(41px);

        @media ( max-width: 991px ) {
            font-size: rem(22px);

            margin-bottom: rem(50px);
        }
        
        @media ( max-width: 576px ) {
            font-size: rem(16px);
            line-height: rem(24px);
        } 
    }

    &__button {
        max-width: rem(215px);
        width: 100%;
    }
}