.section {
    padding: rem(40px) 0;
    @media ( max-width: 576px ) {
        padding: rem(15px) 0;
    }
    &__title {
        font-family: "Souvenir";
        font-size: rem(45px);
        color: #101010;

        margin-bottom: rem(25px);

        @media ( max-width: 991px ) {
            font-size: rem(35px);
        }

        @media ( max-width: 576px ) {
            font-size: rem(25px);
        }

        span {
            color: #FFC700;
        }
    }
}