.section-product-info {
    padding-top: rem(60px);

    background-image: url('../images/section-4-bg.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;

    .section {
        &__title {
            margin-bottom: rem(35px);
        }
    }

    &__left {
        flex: 0 0 rem(755px);
        max-width: rem(755px);
        width: 100%;
        margin-right: rem(50px);
    }

    &__right {
        flex: 0 1 auto;
    }

    &__body {
        display: flex;
        align-items: flex-end;
    }

    .tabs {
        &__content {
            background: #FFFFFF;
            border-radius: 10px;
            padding: rem(10px);
        }

        &__item {
            border: rem(1px) solid #E5E5E5;
            border-radius: rem(5px);
        }
    }
}