.section-ingredients-info {
    background-image: url('../images/section-5-bg.png');

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @media ( max-width: 991px ) {
        background: transparent;
    }

    .tabs {
        &__target {
            flex: 1;
            max-width: 100%;
            width: 100%;

            text-align: left;
            padding: rem(9.5px) 0 rem(9.5px) rem(25px);

            @media ( max-width: 1200px ) {
                padding: rem(9.5px) rem(5px) rem(9.5px) rem(5px);
            }

            @media ( max-width: 991px ) {
                padding: 15px 0 10px;
                flex: unset;
                width: 100%;
                text-align: center;
            }

            @media ( max-width: 768px ) {
                max-width: calc( 100% / 2 - 15px );
                width: 100%;
                margin: 0 7.5px 7.5px;
            }

            @media ( max-width: 576px ) {
                display: none;
                padding: rem(15px) rem(5px);
                max-width: 100%;
                width: 100%;
                margin: 0 0 7.5px;

                &.active {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    order: -1;

                    &::before {
                        content: "";
                        display: block;
                        width: 30px;
                        height: 30px;
                        background-image: url('../images/svg/select-dropdown.svg');
                        position: absolute;
                        right: 15px;
                        top: 50%;
                        transform: translateY(-50%);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: 12px;
                    }
                }

                .tabs__icon {
                    flex: unset;
                    max-width: 40px;
                    width: 100%;
                }

                span {
                    text-align: left;
                    display: block;
                    max-width: 75px;
                    width: 100%;
                }
            }
        }

        &__nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
            overflow: hidden;

            @media ( max-width: 768px ) {
                flex-wrap: wrap;
                margin: 0 -7.5px 0;
            }

            @media ( max-width: 576px ) {
                margin: 0 0 0;
            }
        }
    }

    &__tabs {
        position: relative;

        &.active {
            .section-ingredients-info {
                &__pseudo {
                    display: none;
                }
            }

            .tabs__target {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &__pseudo {
        display: none;
        @media ( max-width: 576px ) {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}