.section-ingredients-info {
    background-image: url('../images/section-5-bg.png');

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .tabs {
        &__target {
            flex: 1;
            max-width: 100%;
            width: 100%;

            text-align: left;
            padding: rem(9.5px) 0 rem(9.5px) rem(25px);
        }

        &__nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
            overflow: hidden;
        }
    }
}