.section-reviews {
    &__footer {
        background-color: #FFFFFF;
        box-shadow: 0px rem(4px) rem(10px) rgba(0, 0, 0, 0.05);
        border-radius: rem(10px);

        padding: rem(14px);
    }

    &__quote {
        text-align: center;
        font-size: 20px;
        border: rem(1px) solid #F4F4F4;
        filter: drop-shadow(0px rem(4px) rem(10px) rgba(0, 0, 0, 0.05));
        border-radius: rem(5px);

        padding: rem(55px) rem(55px);
    }
}