.slider-reviews {
    width: rem(610px);
    height: rem(610px);
    position: relative;

    @media ( max-width: 768px ) {
        width: 100%;
    }

    @media ( max-width: 576px ) {
        height: auto;
    }

    &__item {
        height: rem(610px);
        // background-image: url('../images/IPhone.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;

        opacity: 0.7;
        filter: blur(4px);
        transition: transform 0.3s, opacity 0.3s, filter 0.2s;

        @media ( max-width: 576px ) {
            height: auto;
        }

        &.swiper-slide-active {
            position: relative;
            transform: scale(1.4);
            background-color: whitesmoke;
            z-index: 1;
            filter: none;
            opacity: 1;
            @media ( max-width: 576px ) {
                transform: scale(1);
            }
        }
    }

    &__image {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(0.86);
    }

    &__prev, &__next {
        position: absolute;
        width: rem(50px);
        height: rem(50px);
        background-color: #FFC700;

        border-radius: 100%;

        top: 50%;
        z-index: 1;

        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
        @media ( max-width: 576px ) {
            width: rem(35px);
            height: rem(35px);

            background-size: rem(15px);
        }
    }

    &__prev {
        left: 0;
        transform: translate(-50%, -50%);
        background-image: url('../images/svg/slider-arrow-prev.svg');
    }

    &__next {
        right: 0;
        transform: translate(50%, -50%);
        background-image: url('../images/svg/slider-arrow-next.svg');
    }
}