.slide-info {
    padding: rem(13px);

    background-color: #FFFFFF;
    box-shadow: 0px rem(4px) rem(10px) rgba(0, 0, 0, 0.05);
    border-radius: rem(10px);
    &__inner {
        display: flex;
        align-items: center;
        border: rem(1px) solid #F4F4F4;
        filter: drop-shadow(rem(0px) rem(4px) rem(10px) rgba(0, 0, 0, 0.05));
        border-radius: rem(5px);

        padding: 0;
        padding-right: rem(85px);
    }

    &__image {
        flex: 0 0 rem(340px);
        max-width: rem(340px);
        width: 100%;
    }

    &__text {
        flex: 0 1 auto;
        max-width: 100%;
        width: 100%;

        font-weight: normal;
        font-size: rem(20px);
        color: #000000;

        padding: 30px 0;
    }

    &--reverse {
        .slide-info {
            &__inner {
                flex-direction: row-reverse;
                padding: 0;
                padding-left: rem(85px);
            }
        }
    }
}