.slide-info {
    padding: rem(13px);

    background-color: #FFFFFF;
    box-shadow: 0px rem(4px) rem(10px) rgba(0, 0, 0, 0.05);
    border-radius: rem(10px);
    &__inner {
        display: flex;
        align-items: center;
        border: rem(1px) solid #F4F4F4;
        filter: drop-shadow(rem(0px) rem(4px) rem(10px) rgba(0, 0, 0, 0.05));
        border-radius: rem(5px);

        padding: 0;
        padding-right: rem(85px);

        @media ( max-width: 991px ) {
            padding-right: rem(20px);
        }

        @media ( max-width: 768px ) {
            flex-direction: column;

            padding: 0 15px;
        }
    }

    &__image {
        flex: 0 0 rem(340px);
        max-width: rem(340px);
        width: 100%;

        @media ( max-width: 991px ) {
            flex: 0 0 rem(230px);
            max-width: rem(230px);
        }
        @media ( max-width: 768px ) {
            flex: unset;
            max-width: rem(235px);
            margin: 0 auto;
        }
    }

    &__text {
        flex: 0 1 auto;
        max-width: 100%;
        width: 100%;

        font-weight: normal;
        font-size: rem(20px);
        color: #000000;

        padding: 30px 0;

        @media ( max-width: 991px ) {
            font-size: rem(16px);
        }

        @media ( max-width: 768px ) {
            flex: unset;
            max-width: 100%;
        }

        @media ( max-width: 576px ) {
            font-size: rem(14px);
        }
    }

    &--reverse {
        .slide-info {
            &__inner {
                flex-direction: row-reverse;
                padding: 0;
                padding-left: rem(85px);

                @media ( max-width: 991px ) {
                    padding-left: rem(20px);
                }

                @media ( max-width: 768px ) {
                    flex-direction: column;

                    padding: 0 15px;
                }
            }
        }
    }
}