.social-menu {
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 rem(-15px) rem(-10px);

        li {
            margin: 0 rem(15px) rem(10px);
        }
    }
}