.tabs {
    &__target {
        &--has-icon {
            & > * {
                vertical-align: middle;
            }
            .tabs {
                &__icon {
                    display: inline-block;
                    max-width: rem(40px);
                    max-height: rem(25px);

                    margin-right: rem(6px);

                    @media ( max-width: 991px ) {
                        max-width: 100%;
                        width: 100%;
                    }

                    svg {
                        max-width: rem(40px);
                        height: rem(25px);
                        transition: fill 0.3s;
                        fill: #C4C4C4;
                    }
                }
            }
        }
    }
    &__nav {
        margin: 0 rem(-10px);

        li {
            display: inline-block;
            padding: rem(13px) rem(20px) rem(15px);
            text-align: center;
            font-weight: 700;
            font-size: rem(12px);
            border-radius: rem(10px);
            overflow: hidden;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            cursor: pointer;
            margin: 0 rem(10px);
            background-color: #e5e5e5;
            color: #A1A1A1;

            transition: all 0.3s;

            &:hover,
            &.active {
                background-color: #FFC700;
                color: #ffffff;

                svg {
                    fill: #FFFFFF;
                }
            }
        }
    }

    &__header {
        margin-bottom: rem(20px);
    }

    &__content {
        position: relative;
        overflow: hidden;

        transition: height 0.3s;
    }

    &__item {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        // transform: translateY(-10%);

        // transition: opacity 0.6s, transform 0.3s;

        &.active {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            position: static;
        }
    }

    &--horizontal {
        display: flex;

        .tabs {
            &__header {
                flex: 0 0 rem(270px);
                max-width: rem(270px);
                width: 100%;
                margin-right: rem(30px);
            }

            &__nav {
                margin-bottom: 0;

                li {
                    width: 100%;
                    margin: 0 0 rem(20px);
                }
            }

            &__content {
                flex: 0 1 auto;
                max-width: 100%;
                width: 100%;
            }

            &__item {
                // transform: translateY(0) translateX(-10%);
                &.active {
                    transform: translate(0);
                }
            }
        }
    }
}