.text-styled {
    font-size: rem(18px);
    color: #000000;

    @media ( max-width: 991px ) {
        font-size: rem(16px);
    }

    @media ( max-width: 576px ) {
        font-size: rem(12px);
    }

    p {
        margin-bottom: rem(25px);
    }

    h3 {
        font-weight: 700;
        font-size: rem(25px);
        color: #313131;
        margin-bottom: rem(15px);

        @media ( max-width: 991px ) {
            font-size: rem(22px);
        }
    }

    h4 {
        font-weight: 700;
        font-size: rem(20px);
        color: #101010;
        margin-bottom: rem(20px);
    }

    ul {
        padding-left: rem(5px);
        margin-bottom: rem(15px);
        li {
            position: relative;
            &::before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: rem(6px);
                height: rem(6px);
                background-color: #FFC700;
                margin-right: rem(20px);

                border-radius: 50%;
                transform: translateY(-50%);
            }
        }

        &.beautiful-list {
            li {
                padding-left: rem(22px);
                position: relative;
                &::before {
                    position: absolute;
                    left: 0;
                    top: rem(13px);
                    width: rem(12px);
                    height: rem(12px);

                    background-size: rem(12px);
                    background-image: url('../images/svg/beautiful-list.svg');
                    background-color: transparent;
                }
            }
        }
    }

    a {
        font-weight: 700;
        color: #FFA800;
    }
}