.text-styled {
    font-size: rem(18px);
    color: #000000;
    p {
        margin-bottom: rem(25px);
    }

    h3 {
        font-weight: 700;
        font-size: rem(25px);
        color: #313131;
        margin-bottom: rem(15px);
    }

    ul {
        padding-left: rem(5px);
        margin-bottom: rem(15px);
        li {
            position: relative;
            &::before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: rem(6px);
                height: rem(6px);
                background-color: #FFC700;
                margin-right: rem(20px);

                border-radius: 50%;
                transform: translateY(-50%);
            }
        }
    }
}