.user-icon {
    width: 100%;
    border-radius: 50%;

    position: relative;

    img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);
        object-fit: cover;
    }

    &--char {
        background-color: #ffc700;
        text-transform: uppercase;
        font-size: rem(20px);
        font-weight: 700;
        color: #ffffff;
        line-height: rem(44px);
        text-align: center;
    }
}