@import "./mixins";

@include font('SegoeUI', 'normal', 400, '../fonts/SegoeUI/SegoeUI.woff2');
@include font('SegoeUI', 'normal', 600, '../fonts/SegoeUI/SegoeUI-SemiBold.woff2');
@include font('SegoeUI', 'normal', 700, '../fonts/SegoeUI/SegoeUI-Bold.woff2');
@include font('Souvenir', 'normal', 'bold', '../fonts/Souvenir/Souvenir-Bold.woff2');

// Segoe UI:
    // 700 - bold
    // 600 - semibold
    // 400 - regular
// Souvenir:
    // 700 - bold



$userFontMain: "SegoeUI";
$fonts: $userFontMain, system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$fontsize: rem(16px);
$textcolor: #274341;
$accent: #FFC700;

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

input,
textarea {
  outline: none;
}

body,
html {
  font-family: $fonts;
  font-size: $fontsize;
  color: $textcolor;
  line-height: 1.5;
  min-width: rem(320px);
  position: relative;
  height: 100%;

  background-color: #F5F5F5;
}

.container {
  width: 100%;
  padding-right: rem(15px);
  padding-left: rem(15px);
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576.05px) {
    max-width: 540px;
  }

  @media (min-width: 768.05px) {
    max-width: 720px;
  }

  @media (min-width: 992.05px) {
    max-width: 960px;
  }

  @media (min-width: 1200.05px) {
    max-width: 1140px;
  }

  @media (min-width: 1400.05px) {
    max-width: 1320px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  max-width: rem(3840px);
  margin: 0 auto;
}

.content {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

footer.footer {
  min-height: rem(15px);
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}
