@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: url($furl) format("woff2");
  }
}

$maxWidth: 1920;
$maxWidthContainer: 1170;

@mixin adaptive-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if ($type == 1) {
    #{$property}: $startSize + px;
    @media ( max-width: #{$maxWidthContainer + px} ) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} *
          ((100vw - 320px) / #{maxWidthContainer - 320px})
      );
    }
  } @else if ($type == 2) {
    #{$property}: $startSize + px;
    @media ( min-width: #{$maxWidthContainer + px} ) {
      #{$property}: calc(
        #{$minSize + px + #{$addSize} * (
            (100vw - 320px) / #{$maxWidth - 320px}
          )}
      );
    }
  } @else {
    #{$property}: calc(
      #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320px})
    );
  }
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
