@import "../../node_modules/css-reset-and-normalize/scss/button-reset.scss";
@import "../../node_modules/css-reset-and-normalize/scss/link-reset.scss";
@import "../../node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss";
@import "../../node_modules/sass-rem/rem";
@import "../../node_modules/simplebar/src/simplebar.css";

@import "../../node_modules/swiper/swiper-vars.scss";
@import "../../node_modules/swiper/swiper.scss";

@import "./config";
@import "./libs/libs";

@import './blocks/blocks';

img {
    display: block;
    max-width: 100%;
}

.simplebar-scrollbar::before {
    background: #FFC700;
}

.simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
}

.simplebar-track.simplebar-vertical,
.simplebar-track.simplebar-horizontal {
    width: 8px;
}
